
/* .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  */
  .thankyou{
    font-size: 72px;
    margin-top: 120px;
    margin-left: 150px;
    color: white;
  }

.size{
  margin-top: -20px;
    height: 400px;
    width: 700px;
    margin-left: 150px;
    margin-right: 60px;
    margin-bottom: 20px;

}

.page-container {
    margin-top: 20px;
    background-color: #132925;;
    height: 95%; 
  width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* margin: 20px; */
    /* margin-top: 50px; */
  }
  
  .left-section {
    flex: 1;
    align-items: center;
  }
  
  .centered-text {
    margin-left: 80px;
    color: white;
    font-size: 34px;
    line-height: 1.5;
    display: "flex";
  }
  
  .right-section {
    flex: 1;
    margin-left: 20px;
  }

  .image{
    margin-top: 1px;
    margin-right: 5px;
    height: 378px;
    width: 300px;
    position: relative;
  }

  
  .bottom-section{
    margin-top: 350px;
    margin-left: -683px;
    margin-right: 930px;
  }
  .bottom-section1{
    margin-top: 350px;
    margin-left: -893px;
    margin-right: 307px;
  }
  
  .styled-table {
    /* width: 290px; */
    border-collapse: collapse;
    margin-top: 5px;
    margin-left: 5px;
    height: 295px;
  }
  
  .styled-table th,
  .styled-table td {
    /* text-wrap: wrap; */
    border: 1px solid #A27C4B;
    padding: 2px 4px;
    text-align: left;
    color: black;
  }
  
  .styled-table th {
    background-color: #A27C4B;
    font-size: 16px;
    color: white;
    padding-left: 120px;
  }
  
  .styled-table input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .styled-table1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .styled-table1 th,
  .styled-table1 td {
    border: 1px solid #ddd;
    padding: 2.5px;
    text-align: left;
    color: black;
  }
  
  .styled-table1 th {
    background-color: #A27C4B;
    font-size: 16px;
    color: white;
    padding-left: 120px;
  }
  
  .styled-table1 input {
    width: 290;
    box-sizing: border-box;
    margin: 0;
  }

  .second-image{
    margin-top: 31px;
    margin-left: 12px;
    height: 300px;
    width: 300px;
  }

  .logo{
    height: 60px;
    width: 95px;
    margin-Top:'-60px';
    margin-Left:'600px'
  }

  .third-image{
    /* margin-top: 35px;
    margin-left: 20px; */
    height: 265px;
    width: 585px;
  }


  /* Fourth Page */
  .properties-table {
    width: 321px; 
    height: 283px;
    border: 1px solid #A27C4B;
    border-collapse: collapse;
    /* padding-right: 100px;
    padding-top: -50px;*/
    /* padding-left: 10px; 
    padding-right: 10px; */
    /* margin-top: 10px;
  }
  
  .properties-table th,
  .properties-table td {
    border: 1px solid #ddd;
    padding: 11px;
    padding-right: 2px;
    text-align: left;
    color: black;
  }
  
  .properties-table th {
    background-color: #A27C4B;
    font-size: 12px;
    color: white;
    padding-left: 5px;
  }
  .properties-table td {
    /* background-color: #A27C4B; */
    font-size: 10px;
    color: black;
    /* padding-left: 120px; */
  }
  
  .properties-table input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .properties-table1 {
    width: 321px;
    /* height: 50px; */
    border-collapse: collapse;
    /* padding-right: 100px;
    padding-top: -50px;
    padding-left: 10px; */
    /* margin-top: 10px; */
  }
  
  .properties-table th,
  .properties-table td {
    border: 1px solid #ddd;
    padding: 8.9px;
    text-align: left;
    color: black;
  }
  .properties-table1 th,
  .properties-table1 td {
    border: 1px solid #ddd;
    padding: 8.9px;
    text-align: left;
    color: black;
  }
  
  .properties-table th {
    background-color: #A27C4B;
    font-size: 12px;
    color: white;
    padding-left: 22px;
  }
  .properties-table1 th {
    background-color: #A27C4B;
    font-size: 12px;
    color: white;
    padding-left: 22px;
  }
  .properties-table1 td {
    /* background-color: #A27C4B; */
    font-size: 12px;
    color: black;
    /* padding-left: 120px; */
  }
  
  .properties-table1 input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  /* 2 table fourth page */
  .properties-tables {
    width: 362px;
    height: 283px;
    border-collapse: collapse;
    /* padding-right: 100px;
    padding-top: -50px;
    padding-left: 10px; */
    /* margin-top: 10px; */
  }
  
  .properties-tables th,
  .properties-tables td {
    border: 1px solid #ddd;
    padding-left: 6.5px;
    padding: 6.8px;
    text-align: left;
    color: black;
  }
  
  .properties-tables th {
    background-color: #A27C4B;
    font-size: 12px;
    color: white;
    padding-left: 10px;
  }
  .properties-tables td {
    /* background-color: #A27C4B; */
    font-size: 12px;
    color: black;
    /* padding-left: 120px; */
  }
  
  .properties-tables input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }

  .properties-table2 {
    width: 362px;
    /* height: 50px; */
    border-collapse: collapse;
    /* padding-right: 100px;
    padding-top: -50px;
    padding-left: 10px; */
    /* margin-top: 10px; */
  }
  
  .properties-table2 th,
  .properties-table2 td {
    border: 1px solid #ddd;
    padding: 6.9px;
    text-align: left;
    color: black;
  }
  
  .properties-table2 th {
    background-color: #A27C4B;
    font-size: 12px;
    color: white;
    /* padding-left: 12px; */
  }
  .properties-table2 td {
    /* background-color: #A27C4B; */
    font-size: 10px;
    color: black;
    /* padding-left: 120px; */
  }
  
  .properties-table2 input {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  
  /* Modern Page */
  .modern-image  {
    margin-top: 5px;
    height: 300px;
    width: 319px;
  }

  .modern-text{
    margin-top: 20px;
    margin-left: 100px;
    color: white;
    font-size: 14px;
    line-height: 1.5;
    /* display: table-column; */
    /* display:flexbox; */
  }

  .rigth-section {
    flex: 1;
    align-items: center;
  }
  .modern-edit{
    margin-left: 100px;
    margin-top: 10px;

  }

  .actual-view{
    font-size: 44px;
    margin-left: 30px;
    margin-top: 0px;
    color: white;
  }
  .actual-logo{
    height: 60px;
    width: 95px;
    margin-left: 595px;
    margin-top: -80px;
  }

  .actual-image1{
    margin-top: 80px;
    margin-left: -640px;
    height: 280px;
    width: 310px;
    object-fit: cover;
    position: absolute;
  }

  .actual-image2{
    margin-top: 80px;
    margin-left: -300px;
    height: 280px;
    width: 260px;
    object-fit: cover;
    position: absolute;
  }

  .actual-image1input{
    margin-top: 150px;
    margin-left: -540px;
    /* height: 280px;
    width: 310px; */
  }
  .actual-image2input{
    margin-top: 150px;
    margin-left: -220px;
  }

.actual-image3{
    margin-top: 80px;
    margin-left: -640px;
    height: 280px;
    width: 610px;
    object-fit: cover;
    position: absolute;
}
.actual-image3input{
    margin-top: 190px;
    margin-left: -420px;
}

.page-container1 {
    margin-top: 20px;
    background-color: #FBE9E7;
    height: 95%; 
  width: 100%;
    display: flex;
  }

  .brand-mapping{
    font-size: 44px;
    margin-left: 170px;
    margin-top: 0px;
    color: black
  }
  .brand-mapping-logo{
    height: 60px;
    width: 95px;
    margin-left: 595px;
    margin-top: -80px;
  }

  .brand-mapping-image{
    margin-top: 80px;
    margin-left: -640px;
    height: 280px;
    width: 610px;
    object-fit: cover;
    position: absolute;
}

.page-container2 {
    margin-top: 20px;
    background-color: #C6B397;
    height: 95%; 
  width: 100%;
    display: flex;
  }

  .brand-mapping1{
    font-size: 40px;
    margin-left: 10px;
    margin-top: 0px;
    color: black
  }

  .brand-mapping-logo{
    height: 60px;
    width: 95px;
    margin-left: 595px;
    margin-top: 10px;
  }

  .brand-mapping-image3{
    margin-top: 30px;
    margin-left: -440px;
    height: 320px;
    width: 250px;
    object-fit: cover;
    position: absolute;
}

.brand-mapping_basement{
    font-size: 20px;
    margin-left: 30px;
    margin-top: -10px;
    color: black
}
.vicinity-view{
    font-size: 36px;
    margin-left: 160px;
    margin-top: 10px;
    color: black;
  }

  .vicinity-image1{
    margin-top: 100px;
    margin-left: -640px;
    height: 210px;
    width: 160px;
    object-fit: cover;
    position: absolute;
  }

  .vicinity-image2{
    margin-top: 100px;
    margin-left: -420px;
    height: 210px;
    width: 160px;
    object-fit: cover;
    position: absolute;
  }
  .vicinity-image3{
    margin-top: 100px;
    margin-left: -220px;
    height: 210px;
    width: 160px;
    object-fit: cover;
    position: absolute;
  }

  .vicinity-image1input{
    margin-top: 150px;
    margin-left: -600px;
    /* height: 280px;
    width: 310px; */
  }
  .vicinity-image2input{
    margin-top: 150px;
    margin-left: -400px;
  }


  .vicinity-image3input{
    margin-top: 150px;
    margin-left: -200px;
  }

  .contact-details{
    font-size: 56px;
    margin-left: 10px;
    color:white;
  }

  .contact-names{
    font-size: 18px;
    display: flex;
    flex-direction: column;
    color:white;
  }

  .contact-logo{
    height: 60px;
    width: 95px;
    margin-left: 597px;
    margin-top: -122px;
  }

  .check-box{
    margin-left: 150px;
    height: 15px;
    width: 20px;
  }

  /* .to-contact{
    font-size: 12px;
    margin-left: -638px;
    color:white;
  }
  .our-address{
    font-size: 10px;
    margin-left: -650px;
    margin-top:280px;
    color:white;
  }

  .disclamier{
    background-color: white;
   
    margin-left: -650px;
    margin-top:310px;
    margin-bottom: 13px;
    
  }
  .disclamier1{
    margin-left: 3px;
    font-size: 9px;
    color:black;
  } */

  /* .contact-details{
    font-size: 56px;
    margin-left: 10px;
    margin-top: 5px;
    color:white;
  }

  .contact-names{
    font-size: 18px;
    margin-left: -638px;
    margin-top:-5px;
    color:white;
  }

  .contact-logo{
    height: 60px;
    width: 95px;
    margin-left: 597px;
    margin-top: -122px;
  }
  .to-contact{
    font-size: 12px;
    margin-left: -638px;
    color:white;
  }
  .our-address{
    font-size: 10px;
    margin-left: -650px;
    margin-top:280px;
    color:white;
  }

  .disclamier{
    background-color: white;
   
    margin-left: -650px;
    margin-top:310px;
    margin-bottom: 13px;
    
  }
  .disclamier1{
    margin-left: 3px;
    font-size: 9px;
    color:black;
  } */



  /* .our-address1{
    font-Size: 11, 
 
  } */


  /* .actual-image-container{
    margin-top: 380px;
    height: 280px;
    width: 260px;
    position: relative;
} */

/* .actual-image1,
.actual-image2 {
  width: 100px;
  height: 100px;
  object-fit: cover;
} */

  /* .actual-image-changing{
    margin-top: 190px;
    margin-left: 20px;
    height: 280px;
    width: 260px;
  } */

  /* .actual-image-changing img{
    margin-top: -300px;
    margin-left: -300px;
    height: 280px;
    width: 260px;
  } */
